body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
}
  
* {
    box-sizing: border-box
}

/*NAVBAR*/
.navbar {
    background-color: #31b0d5;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
}

.navbar a {
    font-weight: 200;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
    height: 100vh; /*height to 100% of view height*/
    background: #31b0d5; /*background color to blue*/
    margin-bottom: 0; /*no bottom margin*/
  
    display: flex;
    flex-direction: column;
}
  
.jumbotron-text {
    /*TAGLINE UNDER NAME*/
    font-weight: 400;
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 150px;
}
  
.jumbotron-text h1 {
    /*YOUR NAME*/
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 0;
}
  
.jumbotron-text p {
    margin: 0;
}