body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
}
  
* {
    box-sizing: border-box
}

/*NAVBAR*/
.navbar {
    background-color: #31b0d5;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
}

.navbar a {
    font-weight: 200;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
  