<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/databases">Databases</a></li>
	        		<li><a href="/languages">Languages</a></li>
	        		<li><a href="/bigdata">Big Data</a></li>
					<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aadeyink@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kunleAdeyinka">github.com/kunleAdeyinka</a></li>
					<li><a href="https://twitter.com/kunleOfWakanda">kunleOfWakanda</a></li>
				</ul>
			</footer>
		</body>
	</html>
