<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="../css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<!-- BEGIN NAVBAR -->
			<div class="navbar">
				<a href="#about">About</a>
				<a href="#experience">Experience</a>
				<a href="#education">Education</a>
				<a href="#projects">Projects</a>
				<a href="#skills">Skills</a>
				<a href="#contact">Contact</a>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<!-- BEGIN FOOTER -->
			<div class="row">
				<div class="side-content"></div>
				<div class="main-content">
				  <div class="content-header">
				  </div>
				  <div class="content-body">
					<p class="footer-body">&copy; 2019 kunleadeyinka.github.io</p>
				  </div>
				</div>
				<div class="side-content"></div>
			</div>
			<!-- END FOOTER -->
		</body>
	</html>
